@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-day {
  scrollbar-width: thin;
}
.scrollbar-day::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-day::-webkit-scrollbar-thumb {
  background-color: #707071;
}
